@model User
@{
    ViewData["Title"] = "GetListProduct";
    Layout = "/Views/Shared/_HomePage.cshtml";
}
<link rel="stylesheet" href="~/Mobile_shop/css/HandleFeedback.css">


<body>
    <div class="container">
        <div class="card">
            <div class="header">
                <h3>List Product Bought</h3>
                <div class="float-end">
                    <a asp-controller="CustomerProfile" asp-action="CustomerProfile" data-bs-toggle="tooltip" title
                        class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                            class="fas fa-reply"></i></a>
                </div>
            </div>
            <table class="table table-responsive table-bordered">
                <tr>
                    <th class="text-right">Product ID</th>
                    <th>Product's Name</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Feedback</th>
                </tr>
                @if (@Model.orders != null && @Model.orders.Any())
                {
                    foreach (var item in @Model.orders)
                    {
                        if (item.orderDetails != null && item.orderDetails.Any())
                        {
                            foreach (var item2 in item.orderDetails)
                            {
                                <tr>
                                    <td class="text-right">@item2.product.proId</td>
                                    <td>@item2.product.proName</td>
                                    <td class="text-center img">
                                        <img src="~/assets/Product_Images/@item2.product.proImage" alt="@item2.product.proName" />
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="CreateFeedback" asp-route-id="@item2.product.proId"
                                            class="btn btn-primary btn_feedback">Feedback</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-center">No result!</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" class="text-center">No result!</td>
                    </tr>
                }

            </table>
        </div>

    </div>
</body>