@model List<Category>
@{
    ViewData["Title"] = "Categories";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Mobile_shop/css/Category.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
    @if (TempData["SystemNotification"] != null)
    {
        <div id="systemNotification" class="alert alert-success m-0 p-2">
            <p class="text-dark" style="margin-top: 5px; margin-bottom: 5px;">Notification: @TempData["SystemNotification"]
            </p>
        </div>
    }
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="page-header">
                <h1>Category</h1>
                <div class="float-end" style="margin-top: -50px;">
                    <a asp-controller="HomeAdmin" asp-action="Index" data-bs-toggle="tooltip" title
                        class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                            class="fas fa-reply"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-list"></i> Category List
                    <div class="btn bg-primary" style="float: right;">
                        <a asp-controller="Category" asp-action="CreateCategory"><i
                                class="fa-solid fa-plus text-white"></i></a>
                    </div>
                </div>
                <div id="order" class="card-body">
                    <form id="form-order">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="title-col">
                                        <th class="text-center">No.</th>
                                        <th class="text-start">Category Name</th>
                                        <th class="text-start">Category Describe</th>
                                        <th class="text-end">Number of Product</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count > 0)
                                    {
                                        int count = 0;
                                        @foreach (var item in Model)
                                        {
                                            @if (item.cateStatus == true)
                                            {
                                                <tr>
                                                    <td class="text-center">@item.cateId</td>
                                                    <td class="text-start">@item.cateName</td>
                                                    <td class="text-start">@item.cateDescribe</td>
                                                    <td class="text-end">@item.Products.Count</td>
                                                    <td class="text-end">
                                                        <div class="btn-group dropdown">
                                                            <a asp-controller="Category" asp-action="UpdateCategory"
                                                                asp-route-id="@item.cateId" class="btn btn-primary"
                                                                aria-label="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a asp-controller="Category" asp-action="DeleteCategory"
                                                                        asp-route-id="@item.cateId" class="dropdown-item"><i
                                                                            class="fas fa-trash-alt"></i>
                                                                        Delete</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">There is no category in list</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            var systemNotification = document.getElementById('systemNotification');
            if (systemNotification) {
                systemNotification.style.display = 'none';
            }
        }, 3000);
    </script>
</body>
