@model IEnumerable<(string Title, string ImageUrl, string NewsId, string Link)>

@{
    ViewData["Title"] = "ListTechNew";
}

<link rel="stylesheet" href="~/Mobile_shop/css/techNew.css">

<body>
    <div class="container">
        <div class="page-header">
            <h1 style="margin-top:20px;">Tech news List</h1>
            <div class="float-end" style="margin-top: -50px;">
                <a asp-controller="HomeAdmin" asp-action="Index" data-bs-toggle="tooltip" title class="btn btn-success"
                    data-bs-original-title="Back" aria-label="Back"><i class="fas fa-reply"></i></a>
            </div>
        </div>
        <div class="container">
            <div class="card-body mb-2 mt-2">
                <form action="" id="form-order" method="">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="title-col">
                                    <td style="text-align: center;">Technology News Headlines</td>
                                    <td style="text-align: center;">Technology News Picture</td>
                                    <td style="text-align: center;">Technology News Link</td>
                                    <td class="option">
                                        <div class="add_new">
                                            <a asp-controller="TechNew" asp-action="CreatetechNew" class="btn">Add
                                                new</a>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var technew in Model)
                                {
                                    <tr>
                                        <td>@technew.Title</td>
                                        <td class="text-end d-none d-lg-table-cell"><img
                                                src="@Url.Content($"~/assets/TechNews/{technew.NewsId}/image.jpg")"
                                                alt="News Image">
                                        </td>
                                        <td class="d-none d-lg-table-cell"><a href="@technew.Link">@technew.Link</a></td>
                                        <td class="text-end">
                                            <div class="btn-group dropdown">
                                                <a class="btn" aria-label="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                                                    data-bs-toggle="dropdown" aria-expanded="false"></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <h6 class="dropdown-header">Options</h6>
                                                    </li>
                                                    <li><a class="dropdown-item" asp-controller="TechNew"
                                                            asp-action="UpdateTechNew" asp-route-id="@technew.NewsId"><i
                                                                class="fas fa-edit"></i> Update</a>
                                                    </li>
                                                    <li><a class="dropdown-item" asp-controller="TechNew"
                                                            asp-action="DeleteTechNew" asp-route-id="@technew.NewsId"><i
                                                                class="fas fa-trash-alt"></i> Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>