@model Order
@{
    ViewData["Title"] = "OrderDetailByCustomer";
    Layout = "/Views/Shared/_HomePage.cshtml";
}

<link rel="stylesheet" href="~/Mobile_shop/css/CustomerOrderDetail.css">

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Content Start -->
        <!-- Selection Right Start -->
        <div class="container container-box mt-5">
            <div class="page-header">
                <h1></i>Your Orders Detail</h1>
                <div class="float-end" style="margin-top: -50px;">
                    <a asp-controller="CustomerProfile" asp-action="CustomerProfile" data-bs-toggle="tooltip" title
                        class="btn btn-success" data-bs-original-title="Back" aria-label="Back"><i
                            class="fas fa-reply"></i></a>
                </div>
            </div>
            <div class="container mt-3">
                <div class="card p-0">
                    <div class="card-header">
                        <i class="fas fa-info-circle"></i> Order (#@Model.orderId)
                    </div>
                    <div id="order" class="card-body mb-2 mt-2">
                        <table class="table table-bordered table-hover mt-3">
                            <tr>
                                <td><strong>Phone number:</strong> @Model.user.phoneNumber</td>
                            </tr>
                            <tr>
                                <td><strong>Delivery address:</strong> @Model.user.address</td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-responsive p-3">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="title-col">
                                    <td class="text-center">No.</td>
                                    <td class="text-center">Product Name</td>
                                    <td class="text-end">Quantity</td>
                                    <td class="text-end">Unit Price</td>
                                    <td class="text-end ">Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @foreach (var item in Model.orderDetails)
                                {
                                    <tr>
                                        <td class="text-center">@count</td>
                                        <td>@item.product.proName</td>
                                        <td class="text-end">@item.quantity</td>
                                        <td class="text-end">@item.product.proPrice</td>
                                        <td class="text-end">@item.subTotal</td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <tbody id="order-totals">

                                <tr>
                                    <td class=" text-end">
                                        <strong>Total Amount</strong>
                                    </td>
                                    <td class="text-end" style="width: 1px;">@Model.TotalAmount</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn" style="float: inline-end;">
                            @if (@Model.orderStatusId != 2 && @Model.orderStatusId != 3 && @Model.orderStatusId != 4)
                            {
                                <a asp-controller="CustomerProfile" asp-action="CustomerCancelOrder"
                                    asp-route-id="@Model.orderId" class="btn btn-danger">Cancel Order</a>
                            }
                            @if (@Model.orderStatusId == 2)
                            {
                                <p class="text-success notifications">Your order has been confirmed!</p>
                            }

                            @if (@Model.orderStatusId == 3)
                            {
                                <p class="text-danger notifications">Your order has been refused by the Admin!</p>
                            }
                            @if (@Model.orderStatusId == 4)
                            {
                                <p class="text-danger notifications">You have canceled this order!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>